.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}

.catalogue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.noItemsFound {
  padding: 1rem;
  font-size: 3rem;
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  .noItemsFound {
    font-size: 2rem;
  }
}
